/** Theme colours, fonts and sizes */

$color01:#000000;
$color02:#FFFFFF;
$color03:#FF0000;
$color04:#00FF00;
$color05:#0000FF;
$color06:#FFFF00;
$color07:#FF00FF;
$color08:#00FFFF;
$color09:#112233;
$color10:#445566;

